In [1]:
# 1유형(데이터 다루기)은 어떤 문제가 나오나요? * 기출 트렌드: 날짜 데이터, 파생변수 생성, 시간 데이터
# 데이터 타입, 기초 통계량(평균 - mean(), 중앙값 - median(), 사분위수 - quantile, IQR - q3 - q1, 표준편차 std 등)
# 데이터 인덱싱 / 필터링 / 정렬 / 변경
# 중복값, 결측치, 이상치 처리 (제거 or 대체)

# 1 유형은 문제를 잘 읽어야 함 - 조건이 많기 때문, 그리고 시간과 날짜 데이터는 꼭 연습해야 함.

# 실행 ctrl + enter

In [2]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
### 1. 데이터 타입 (object, int, float) 등 확인 - 변수들의 타입을 출력
df.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [5]:
# 데이터 타입 변경 (1개)
df1 = df.copy() # 이렇게 할 경우 df가 변경할 시 df1은 변하지 않음 df1 = df 이렇게 하면 df 변하면 df1 도 함께 변함
df1 = df1.astype({'cyl':'object'})
print(df1.dtypes)

model     object
mpg      float64
cyl       object
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [6]:
# 데이터 타입 변경 (2개 이상)
df1 = df1.astype({'cyl':'int', 'gear': 'object'})
print(df1.dtypes)

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear      object
carb       int64
dtype: object

In [7]:
# 해당 변수의 값만 가져오기 df1['cyl']
# value_counts() : df1의 cyl 변수명의 값들이 있는데 8이 14개, 4가 11
df1['cyl'].value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [8]:
### 2. 기초 통계량 (평균, 중앙값, IQR, 표준편차 등)

In [9]:
# 중심 측도를 나타내는 값 - 평균, 중앙값, 최빈값

In [10]:
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [11]:
df.shape  # 데이터 프레임의 (행, 열) : 데이터는 32개, 변수는 12

(32, 12)

In [12]:
# 평균 값 구하기
mpg_mean = df['mpg'].mean()  # 변수명 불러줘야 함 = 변수의 평균
print(mpg_mean)

20.090625000000003

In [13]:
# 중앙값 구하기
mpg_median = df['mpg'].median()
print(mpg_median)

19.2

In [14]:
# 최빈값 구하기
mpg_mode = df['cyl'].mode()
print(mpg_mode)
print(mpg_mode[0])  # 첫번째 데이터 가져오기 - 이렇게 해줘야 함
df['cyl'].value_counts()

0    8
Name: cyl, dtype: int64
8

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [15]:
### 3. 산포도를 나타내는 값 (분산, 표준편차, IQR, 범위(최대 최소)

In [16]:
# 분산
mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258064

In [17]:
# 표준편차
mpg_std = df['mpg'].std()
print(mpg_std)

6.026948052089104

In [18]:
# IQR = Q3 - Q1
Q1 = df['mpg'].quantile(0.25)  # 25퍼센트에 해당 = 1사분위수
print(Q1)

Q3 = df['mpg'].quantile(0.75)  # 75퍼센트에 해당 = 3사분위수
print(Q3)

print(Q3-Q1)

15.425
22.8
7.375

In [19]:
# 중앙값 = median = Q2
print(df['mpg'].median())
print(df['mpg'].quantile(.5))

19.2
19.2

In [20]:
# 범위 = 최댓값 - 최솟값
print(df['mpg'].max())
print(df['mpg'].min())

print(df['mpg'].max()-df['mpg'].min())

33.9
10.4
23.5

In [23]:
# 분포의 비대칭도
# 왜도
mpg_skew = df['mpg'].skew()
print(mpg_skew)

# 첨도
mpg_kurt = df['mpg'].kurt()
print(mpg_kurt)

0.6723771376290805
-0.0220062914240855

In [ ]:
### 4. 기타 (합계, 절대값, 데이터 수)

In [27]:
# 합계
mpg_sum = df['mpg'].sum()
print(mpg_sum)

# 절대값
# mpg_abs = df['mpg'].abs()
# print(mpg_abs)

IQR2 = Q1 - Q3
print(IQR2)
print(abs(IQR2))

# 데이터 수
# 어떤 조건일 때 데이터 갯수를 구하라 - len() 함수 사용
len(df['mpg'])

642.9000000000001
-7.375
7.375

32

In [ ]:
# 그룹화하여 계산하기 (GroupBy 활용)

In [31]:
# species별로 각 변수의 평균 구해보기
import seaborn as sns

df = sns.load_dataset('iris')
print(df.head())
df.groupby('species').mean()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [32]:
df.groupby('species').median()  # 각 변수의 중위값 볼 수 있음

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

In [ ]:
### 5. 데이터 인덱싱 / 필터링 / 정렬 / 변경

In [46]:
df = pd.read_csv('mtcars.csv')
df.head(4)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [35]:
## 데이터 인덱싱
# 헹 / 열 인덱싱: df.loc['행', '열']
# 3번째 행의 mpg 값 가져오기 - 파이썬은 0부터 시작! (mpg의 세번째 값 가져오기)
df.loc[3, 'mpg']

21.4

In [37]:
# 열만 인덱싱 - mpg 열 다 불러오기
df.loc[:, 'mpg'].head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [41]:
# 여러가지 행 / 열 인덱싱 가능
df.loc[0:3, ['mpg', 'cyl', 'disp']].head()

    mpg  cyl   disp
0  21.0    6  160.0
1  21.0    6  160.0
2  22.8    4  108.0
3  21.4    6  258.0

In [43]:
# mpg 열부터 wt 열까지 모두 가져오기
df.loc[0:3, 'mpg':'wt'].head()

    mpg  cyl   disp   hp  drat     wt
0  21.0    6  160.0  110  3.90  2.620
1  21.0    6  160.0  110  3.90  2.875
2  22.8    4  108.0   93  3.85  2.320
3  21.4    6  258.0  110  3.08  3.215

In [48]:
# 앞에서 n행 인덱싱
df.head(2)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [49]:
# 뒤에서 n행 인덱싱
df.tail(2)

            model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [ ]:
## 열(Columns) 추가 / 제거

In [54]:
# 열 선택
df_cyl = df['cyl']  # df.cyl
print(df_cyl.head(2))
print(df.cyl.tail(2))

0    6
1    6
Name: cyl, dtype: int64
30    8
31    4
Name: cyl, dtype: int64

In [57]:
# 변수 두개 가지고 올 때는 대괄호 두개
print(df[['cyl', 'disp']].head(1))

   cyl   disp
0    6  160.0

In [59]:
# 열 제거
df.drop(columns=['mpg', 'cyl']).head(2)

           model   disp   hp  drat     wt   qsec  vs  am  gear  carb
0      Mazda RX4  160.0  110   3.9  2.620  16.46   0   1     4     4
1  Mazda RX4 Wag  160.0  110   3.9  2.875  17.02   0   1     4     4

In [60]:
# 열 추가
df2 = df.copy()  # 이렇게 복사해야 함 (df2 = df 복사는 df가 바뀌면 df2도 바뀜)
df2['new'] = df['mpg'] + 10   # mpg 변수에 + 10씩 : 파생변수 추가
df2.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,31.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,31.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,32.8
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,31.4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,28.7

In [ ]:
## 데이터 필터링

In [70]:
# 1개 조건 필터링
# cyl=4인 데이터의 수
cond1 = (df['cyl']==4)  # 조건의 return 값은 boolean
print(df[cond1].head())
print(len(df[cond1]))

          model   mpg  cyl   disp  hp  drat     wt   qsec  vs  am  gear  carb
2    Datsun 710  22.8    4  108.0  93  3.85  2.320  18.61   1   1     4     1
7     Merc 240D  24.4    4  146.7  62  3.69  3.190  20.00   1   0     4     2
8      Merc 230  22.8    4  140.8  95  3.92  3.150  22.90   1   0     4     2
17     Fiat 128  32.4    4   78.7  66  4.08  2.200  19.47   1   1     4     1
18  Honda Civic  30.4    4   75.7  52  4.93  1.615  18.52   1   1     4     2
11
          model   mpg  cyl   disp  hp  drat     wt   qsec  vs  am  gear  carb
2    Datsun 710  22.8    4  108.0  93  3.85  2.320  18.61   1   1     4     1
7     Merc 240D  24.4    4  146.7  62  3.69  3.190  20.00   1   0     4     2
8      Merc 230  22.8    4  140.8  95  3.92  3.150  22.90   1   0     4     2
17     Fiat 128  32.4    4   78.7  66  4.08  2.200  19.47   1   1     4     1
18  Honda Civic  30.4    4   75.7  52  4.93  1.615  18.52   1   1     4     2

In [71]:
print(df[df['cyl']==4].head())  # 바로 df 안에 조건 써줘도 됨

          model   mpg  cyl   disp  hp  drat     wt   qsec  vs  am  gear  carb
2    Datsun 710  22.8    4  108.0  93  3.85  2.320  18.61   1   1     4     1
7     Merc 240D  24.4    4  146.7  62  3.69  3.190  20.00   1   0     4     2
8      Merc 230  22.8    4  140.8  95  3.92  3.150  22.90   1   0     4     2
17     Fiat 128  32.4    4   78.7  66  4.08  2.200  19.47   1   1     4     1
18  Honda Civic  30.4    4   75.7  52  4.93  1.615  18.52   1   1     4     2

In [68]:
cond2 = (df['mpg'] >= 22)
len(df[cond2])

9

In [76]:
# 두개 조건 필터링 : &
print(df[cond1 & cond2].head())
print('--------------------------')
print(len(df[cond1 & cond2]))

          model   mpg  cyl   disp  hp  drat     wt   qsec  vs  am  gear  carb
2    Datsun 710  22.8    4  108.0  93  3.85  2.320  18.61   1   1     4     1
7     Merc 240D  24.4    4  146.7  62  3.69  3.190  20.00   1   0     4     2
8      Merc 230  22.8    4  140.8  95  3.92  3.150  22.90   1   0     4     2
17     Fiat 128  32.4    4   78.7  66  4.08  2.200  19.47   1   1     4     1
18  Honda Civic  30.4    4   75.7  52  4.93  1.615  18.52   1   1     4     2
--------------------------
9

In [78]:
# 두 개 주건 필터링 후 데이터 개수 (or)
len(df[cond1 | cond2])

11

In [94]:
print(len(df[(df['cyl']==4) & (df['mpg']>=22)]))
print(len(df[(df['cyl']==4) | (df['mpg']>=22)]))

9
11

In [ ]:
## 데이터 정렬

In [95]:
# 내림차순 정렬 (위에서부터 내려감, 위가 제일 큰 값)
# ascending 오름차순이기에 False로 두어야 함
df.sort_values('mpg', ascending=False).head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

In [96]:
# 오름차순 정렬: 작은거부터
df.sort_values('mpg', ascending=True).head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

In [ ]:
## 데이터 변경 (조건문)

In [103]:
# 실기시험 들어가서 가장 먼저 import 해야할 두가지 라이브러리 : pandas / numpy

import numpy as np
df = pd.read_csv('mtcars.csv')
# np.where()
# hp 변수 값중에서 205가 넘는 값은 205로 처리하고 나머지는 그대로 유지
df['hp'] = np.where(df['hp']>=205, '205', df['hp'])

# 내림차순 정렬
df.sort_values('hp', ascending=True).head()

# np.where 활용
# 이상치를 Max 값이나 Min 값으로 대체할 경우 조건문 활용

In [ ]:
### 4. 결측치 / 이상치 / 중복값 처리 (제거 or 대체)

In [ ]:
# 데이터 불러오기 (타이타닉 데이터셋)
# 종속변수(y) : 생존여부(사망 0, 생존 1)
# 독립변수(x) : pclass, sex, age 등의 탑승자 정보(변수)

In [130]:
import seaborn as sns
# 데이터 셋 목록 : sns.get_dataset_names()
# 타이타닉 데이터 불러오기
sns.get_dataset_names()
df = sns.load_dataset('titanic')
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [132]:
df.shape

(891, 15)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [111]:
## 결측치 확인 및 처리

In [134]:
# 결측치 확인
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [135]:
# 결측치 제거
print(df.dropna(axis=0).shape)  # 행 기준 / 이걸 많이 씀 (axis=0은 default라 안넣어도 됨)
print(df.dropna(axis=1).shape)  # 열 기준

(182, 15)
(891, 11)

In [136]:
# 결측치 대체
# 데이터 복사
df2 = df.copy()
df2 = pd.DataFrame(df)  # 데이터 프레임 형태로 가지고 오기!! 이거 반드시 필요!
print(df2)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [137]:
# 1. 중앙값 / 평균값 등으로 대체

# 먼저 중앙값 구하기
median_age = df2['age'].median()
print(median_age)

# or 평균 값 구하기
age_average = df['age'].mean()
print(age_average)

28.0
29.69911764705882

In [138]:
# 구한 중앙값으로 결측치를 대체
df2['age'] = df['age'].fillna(median_age)

# 이건 내가 임의로 했는데 동작 하는듯?
# df2['age'] = np.where(df2['age'].isnull(), median_age, df2['age'])
print(df2['age'])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [139]:
# 결측치가 잘 대체되었는지 확인
df2.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [140]:
# 결측치 대체 된 값과 대체 안된 값 달라야함
print(df['age'].mean())
print(df2['age'].mean())

29.69911764705882
29.36158249158249

In [141]:
# 중복 값 확인
df.drop_duplicates().shape

(784, 15)