In [43]:
# 제 1유형 - mtcars dataset의 qsec 컬럼을 최소최대 척도 (Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [1]:
import pandas as pd
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
from sklearn.preprocessing import MinMaxScaler
xscaler = MinMaxScaler()

df['qsec'] = xscaler.fit_transform(df[['qsec']])
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,0.233333,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,0.300000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,0.489286,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,0.588095,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,0.300000,0,0,3,2

In [46]:
len(df[(df['qsec'] > 0.5)])

9

In [47]:
# 정수 데이터 출력
print(round(len(df[(df['qsec'] > 0.5)])))

9

In [48]:
# 제 1유형 문제 풀이 - 데이터 다루기 유형

In [58]:
import pandas as pd
import numpy as np

df = pd.read_csv('mtcars.csv')
print(df.head())

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

In [50]:
## 문제 1 - mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.
### round 반올림 = 정수 값 출력임
# print(round(df['mpg'].quantile(0.25)))
print(round(df['mpg'].quantile(0.25), 1))  # 소수점 한자리까지 구하기

15.4

In [51]:
## 문제 2 - mpg 값이 19 이상 21 이하인 데이터의 수를 구하시오.
# cond1, cond2
len(df[(df['mpg'] > 19) & (df['mpg'] <= 21)])

5

In [52]:
cond1 = (df['mpg'] > 19)
cond2 = (df['mpg'] <= 21)
print(len(df[cond1 & cond2]))

5

In [53]:
# 문제 3 - hp 변수의 IQR 값을 구하시오.
# IQR = 1.5 * IQR이 이상치라고 했단말이지?
# IQR은 그럼 Q3 - Q1이다.
q3 = df['hp'].quantile(.75)
q1 = df['hp'].quantile(.25)
print(q3 - q1)  # IQR은 양수가 되어야 하기 때문에 큰 수에서 작은 수 빼야한다.

83.5

In [69]:
# 문제 4 - wt 변수의 상위 10개 값의 총 합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv('mtcars.csv')
# print(df.head())

df2 = df.sort_values('wt', ascending=False)
df2[0:10]['wt'].sum()

42.424

In [55]:
# 위에는 나의 오답, 아래는 정답
top_10 = df.sort_values('wt', ascending=False)
sum_top_10 = top_10['wt'].head(10).sum()
print(int(sum_top_10))
# 소수점을 반올림 하는 게 아니라 버림하는것 - int() 써야

42

In [56]:
# 문제 5 - 전체 자동차에서 cyl이 6인 비율이 얼마인지 소수점 첫재짜리까지 출력하시오
# 비율 : 조건의 개수 / 전체 개수
round(len(df[df['cyl'] == 6]) / len(df), 1)

0.2

In [72]:
# 문제 6 - 첫번째 행부터 순서대로 10개를 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv('mtcars.csv')
df2 = df.head(10)  # df[:10] = df.loc[0:9]
df3 = df[:10]
mpg_mean = df2['mpg'].mean()
print(round(mpg_mean))

20

In [77]:
# 문제 7 - 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
# ** 50% 데이터에 해당하는 행의 수 (정수로 구하기) ** 이거 몰랐음
p50 = int(len(df)*0.5)
# df.head(p50)['wt'].median()
df[:p50]['wt'].median()  # quantile(.50)

3.44

In [133]:
# 문제 8 - 결측값이 있는 데이터의 수를 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20230101', '20230101', '20230105', '20230105', '20230110', '20230110', '20230131', '20230131'],
    '물품': ['A', None, 'A', 'B', 'A', None, 'B', 'B'],
    '판매수': [11, 12, 34, 13, None, 16, 16, 17],
    '개당수익': ['900', None, '11000', '1000', '200', None, '100', '1000']
})
isnull = df.isnull().sum()
# 데이터의 수를 출력하는 거니까 sum() 한 번 더해줘야 함
print(isnull.sum())

5

In [102]:
# 문제 9 - '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오.
median = df['판매수'].median()
# print(median)
df['판매수'] = df['판매수'].fillna(median)
# print(df_null)
mean = df['판매수'].mean()
print(round(mean))  # 정수 출력?

17

In [138]:
# 문제 10 - 판매수 컬럼에 결측치가 있는 행을 제거하고, 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여 판매수 변수의 Q1 값을 정수로 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20230101', '20230101', '20230105', '20230105', '20230110', '20230110', '20230131', '20230131'],
    '물품': ['A', None, 'A', 'B', 'A', None, 'B', 'B'],
    '판매수': [11, 12, 34, 13, None, 16, 16, 17],
    '개당수익': ['900', None, '11000', '1000', '200', None, '100', '1000']
})

# 결측치 삭제 = 행기준 (default)
df = df['판매수'].dropna()

# 첫번째 행부터 순서대로 50%까지의 데이터 추출
per50 = int(len(df)*0.5)
df = df[:per50]

print(round(df.quantile(0.25)))

# 실수 할 것 같으면 df.copy()로 복사

12

In [157]:
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [156]:
# 문제 11 - cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 정수로 출력하시오.
cond1 = (df['cyl'] == 4)
cond2 = (df['cyl'] == 6)
df1 = df[cond1]
df2 = df[cond2]

df1_mean = df1['mpg'].mean()
df2_mean = df2['mpg'].mean()
print(round(abs(df1_mean - df2_mean)))

7

In [167]:
# 문제 12 - hp 변수에 대해 데이터표준화(z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 z 값이 1.5를 초과하거나 -1.5 미만인 값이다.)
# (개별값 - mean) / std
df = pd.read_csv('mtcars.csv')

hp_mean = df['hp'].mean()
hp_std = df['hp'].std()

df['zscore'] = (df['hp']-hp_mean) / hp_std   # 새로운 변수 생성
cond1 = (df['zscore'] < -1.5)
cond2 = (df['zscore'] > 1.5)
print(len(df[cond1]) +  len(df[cond2]))

2

In [169]:
# 문제 13 - mpg 컬럼을 최소최대 scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
from sklearn.preprocessing import MinMaxScaler
mscaler = MinMaxScaler()

df = pd.read_csv('mtcars.csv')

df['mpg'] = mscaler.fit_transform(df[['mpg']])

len(df[df['mpg'] > 0.7])

5

In [170]:
# 위의 풀이가 나의 풀이
# 아래의 풀이가 강의 풀이
# 공식 : (변수-min)/(max+min)
min_mpg = df['mpg'].min()
max_mpg = df['mpg'].max()

df['mpg'] = (df['mpg']-min_mpg) / (max_mpg - min_mpg) # 최대 - 최소 = range
cond1 = (df['mpg']>0.7)
len(df[cond1])

5

In [3]:
# 문제 14 - wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
# 이상치 : Q1, Q3으로부터 1.5*IQR을 넘어가는 값
df = pd.read_csv('mtcars.csv')
q1 = df['wt'].quantile(.25)
q3 = df['wt'].quantile(.75)
IQR = q3 - q1

upper = q3 + 1.5 * IQR
lower = q1 - 1.5 * IQR

cond1 = (df['wt'] > upper)
cond2 = (df['wt'] < lower)
print(len(df[cond1 | cond2]))

3

In [57]:
# 문제 8번
# df = pd.DataFrame( {
#     '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
#     '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
#     '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
#     '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
#
# 문제 15번
# # 데이터 생성 (수정금지)
# df = pd.DataFrame( {
#     '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
#     '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
#     '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
#     '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
#
# 문제 21번
# df = pd.DataFrame( {
#     '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
#     '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
#     '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
#     '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
#
# 문제 25번
# # 시간 데이터 만들기(수정금지)
# df = pd.DataFrame( {
#     '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
#     '판매수': [5, 10, 15, 15, 20, 25, 40],
#     '개당수익': [500, 600, 500, 600, 600, 700, 600] })
# time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
# df['time']=time
# df = df[ ['time','물품','판매수','개당수익']]
#
# 문제 26-27
# # 시간 데이터 만들기(수정금지)
# df = pd.DataFrame( {
#     '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
#     '판매수': [5, 10, 15, 15, 20, 25, 40],
#     '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
# df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
# df = df[ ['time','물품','판매수','개당수익'] ]
# df = df.set_index('time', drop=True)

In [192]:
# 문제 15 - 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최솟값으로 대체했을 때 평균값의 차이를 절댓값으로 정수로 출력

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [195]:
## 데이터 복사!!!!
df2 = df.copy()

## 최솟값으로 결측치 대체
min = df['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(min)

null_mean = df['판매수'].mean()
min_mean = df2['판매수'].mean()
print(round(abs(min_mean - null_mean)))

2

In [209]:
# 문제 16 - vs 변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.
import pandas as pd
df = pd.read_csv('mtcars.csv')

In [208]:
df = df[(df['vs'] != 0)]
df[(df['mpg'] == df['mpg'].max())]['hp']  # 이건 나의 풀이

19    65
Name: hp, dtype: int64

In [216]:
df = df.sort_values('mpg', ascending=False)  # 내림차순
df['hp'].head(1)
print(df['hp'].iloc[0])
print(df['hp'].loc[19])  # 실제 행의 값을 넣어야 함 = loc

65
65

In [224]:
# 문제 17 - gear 변수 값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 소수 첫째자리로 출력하시오.

df = pd.read_csv('mtcars.csv')
# df1 = df.copy()
# df2 = df.copy()
#
# df1 = df1[(df1['gear'] == 3)]
# df2 = df2[(df2['gear'] == 4)]
#
# df1_std = df1['hp'].std()
# df2_std = df2['hp'].std()

gear3 = df[df['gear'] == 3]
gear4 = df[df['gear'] == 4]

df1_std = gear3['hp'].std()
df2_std = gear4['hp'].std()

print(round(abs(df1_std - df2_std), 1))

21.8

In [243]:
# 문제 18 - gear 변수의 값별로 그룹화하여 mpg 평균값을 산출하고, 평균값이 높은 그룹의 mpg 제 3사분위수 값을 구하시오.

# gear와 mpg 변수만 필터링
df = df.loc[:, ['mpg', 'gear']]
print(df.groupby('gear').mean())

gear4 = df[df['gear'] == 4]
print(gear4['mpg'].quantile(.75))

            mpg
gear
3     16.106667
4     24.533333
5     21.380000
28.075

In [251]:
# 문제 19 - hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후, hp가 150 이상인 데이터를 추출하여 hp 평균값을 반올림하여 정수로 출력하시오.

## 틀렸음!!
df = pd.read_csv('mtcars.csv')
df2 = df.sort_values('hp', ascending=False).head(7)
print(round(df2[df2['hp'] >= 150]['hp'].mean()))

248

In [7]:
# 실제 강의 풀이
df = pd.read_csv('mtcars.csv')
df = df.sort_values('hp', ascending=False)

# 인덱스 초기화 - 기존 인덱스 삭제 후 새로운 인덱스로 = sort_values의
df = df.reset_index(drop=True)
# drop=True는 기존 index 삭제, 이거 없으면 기존 인덱스는 변수로 생성됨!!

# hp 상위 7번째 값 확인
top7 = df['hp'].loc[6]  # top7 = 205

# np.where 사용
import numpy as np
df['hp'] = np.where(df['hp']>205, top7, df['hp'])

cond1 = df['hp'] <= 150
df = df[cond1]
print(round(df['hp'].mean()))

99

In [265]:
# 문제 20 - car 변수에 merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.
# 문자열 추출 str.contains()
df = pd.read_csv('mtcars.csv')
int(df[df['model'].str.contains("Merc")]['mpg'].mean())

# 시험 환경에서 답 구하는 방법 - car라는 변수가 인덱스로 들어가 있음
# df.reset_index(inplace=True)
# df2 = df[df['index'].str.contains("Merc")]
# print(round(df2['mpg'].mean()))

19

In [8]:
# 문제 21
# 22년 1분기 A제품의 매출액을 구하시오
# 매출액 : 판매수 * 개당수익
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

print(df)

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [10]:
# 풀이 1
# 데이터 타입을 datetime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

# 년, 월, 일 변수(열) 추가하기
df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

df['매출액'] = df['판매수'] * df['개당수익']

df = df[df['year'] == 2022]
df = df[(df['month'] == 1) | (df['month'] == 2) | (df['month'] == 3)]
df = df[df['제품'] == 'A']

print(df['매출액'].sum())

4900

In [14]:
# 풀이 2
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']

# 날짜 자체를 필터링 4/1 미포함
df_after = df [df['날짜'].between('2022-01-01', '2022-04-01')]
# df_after
# print(df_after['매출액'].sum())

          날짜 제품  판매수  개당수익   매출액
0 2022-01-03  A    3   300   900
1 2022-01-05  B    5   400  2000
4 2022-02-03  A   10   400  4000
5 2022-02-05  B   10   500  5000

In [305]:
# 풀이 3
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']

# 날짜를 인덱스로 설정 후 loc 함수 사용
df = df.set_index('날짜')
df_after = df.loc[(df.index <= '2022-03-31') & (df.index>='2022-01-01')]
df_after['매출액'].sum()

11900

In [15]:
# 문제 22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.

df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )
df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']
df['year'] = df['날짜'].dt.year

df = df.loc[:, ['매출액', 'year']]
df_sum = df.groupby('year').sum()
df_2022 = df_sum[df_sum.index == 2022]
df_2023 = df_sum[df_sum.index == 2023]

In [16]:
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )
df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']

df_2022 = df[df['날짜'].dt.year == 2022]['매출액'].sum()
df_2023 = df[df['날짜'].dt.year == 2023]['매출액'].sum()
print(abs(df_2022 - df_2023))

48600

In [389]:
# 문제 23 - 23년 총 매출액이 '큰 제품'의 23년 판매수를 구하시오.
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수'] * df['개당수익']
df = df[df['날짜'].dt.year == 2023]
df_a = df[df['제품'] == 'A']
df_b = df[df['제품'] == 'B']
a_sales = df_a['매출액'].sum()
b_sales = df_b['매출액'].sum()
# print(a_sales, b_sales)
print(df_a['판매수'].sum())

46000 32500
80

In [399]:
# 문제 24 - 매출액이 4000원 초과, 1만원 미만인 데이터의 수를 출력하시오.
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )
df['매출액'] = df['판매수'] * df['개당수익']
df
# print(len(df[(df['매출액'].between(4000, 10000))])) # 이건 4000원 이상임!!
cond1 = (df['매출액'] > 4000)
cond2 = (df['매출액'] < 10000)
print(len(df[cond1 & cond2]))

4

In [409]:
# 문제 25 - 23년 9월 24일 16:00 ~ 22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [403]:
df = df[df['time'].between('2023-09-24 16:00:00', '2023-09-24 22:00:00')]
print(df['판매수'].sum())

25

In [412]:
# 컬럼과 인덱스에 둘 다 time 변수로 놓고 풀이
# 데이터 타입 datetime으로 변경 (항상 df.info()로 데이터타입 확인할 것)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])

# 인덱스 새로 지정
df = df.set_index('time', drop=False)  # default는 True
df.head()

# 9월 24일 필터링
df_after = df[df['time'].between('2023-09-24', '2023-09-25')] # 25일 미포함

# 시간 필터링
df = df_after.between_time(start_time='16:00', end_time='22:00')
print(df['판매수'].sum())

25

In [415]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time')

# loc 함수로 필터링 - date type이어야하고, index로 가있어야 loc 사용 가능
df = df.loc[(df.index >= '2023-09-24 16:00:00') & (df.index <= '2023-09-24 22:00:00')]
print(df['판매수'].sum())

25

In [428]:
# 문제 26 - 9월 25일 00:00~12:00 까지의 B 물품의 매출액 총합을 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df.set_index('time', drop=False)

# 매출액 변수 추가
df['매출액'] = df['판매수'] * df['개당수익']
df = df.loc[(df.index > '2023-09-25 00:00:00')  & (df.index < '2023-09-25 12:00:00')]
print(df[df['물품'] == 'B']['매출액'].sum())

26500

In [438]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df.set_index('time', drop=True)

# 매출액 변수 추가
df['매출액'] = df['판매수'] * df['개당수익']

# time 변수 추가, index 초기화 (인덱스를 컬럼으로)
df = df.reset_index()

# 인덱스 새로 지정
df = df.set_index('time', drop=False)

# 데이터 타입 datetime으로 변경
df['time'] = pd.to_datetime(df['time'])

# 9월 25일 필터링 // df['변수'].between()  : 인덱스가 아닌 변수에 위치해야 between 사용 가능
df_after = df[df['time'].between('2023-09-25', '2023-09-26')]

# 시간 필터링 주의!! 시간이 index에 위치해야 함 = between_time의 시간은 index에 위치해야 사용 가능하다.
df = df_after.between_time(start_time='00:00', end_time='12:00')

df = df[df['물품']=='B']
print(df['매출액'].sum())

26500

In [17]:
# 문제 27 - 9월 24일 12:00 ~ 24:00 까지의 A 물품들의 매출액 총합을 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df.set_index('time', drop=True)

df['매출액'] = df['판매수'] * df['개당수익']

df = df.reset_index()
df['time'] = pd.to_datetime(df['time'])

df = df.set_index('time', drop=False)

df_after = df[df['time'].between('2023-09-24', '2023-09-25')]
print(df_after)
df = df_after.between_time(start_time ='12:00', end_time = '23:59')
print(df[df['물품'] == 'A']['매출액'].sum())

                                   time 물품  판매수  개당수익   매출액
time
2023-09-24 12:25:00 2023-09-24 12:25:00  A    5   500  2500
2023-09-24 16:48:25 2023-09-24 16:48:25  B   10   600  6000
2023-09-24 21:11:50 2023-09-24 21:11:50  A   15   500  7500
10000

In [470]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df.set_index('time', drop=True)

df['매출액'] = df['판매수'] * df['개당수익']
df = df.loc[(df.index >= '2023-09-24 12:00:00') & (df.index < '2023-09-25 00:00:00')]
df[(df['물품'] == 'A')]['매출액'].sum()

10000