In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
# dtypes는 괄호 없음
df.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [11]:
df1 = df.copy()
df1 = df1.astype({'cyl': 'object'})
print(df1['cyl'].dtypes)
print(df['cyl'].dtypes)

object
int64

In [12]:
df1 = df1.astype({'cyl': 'int', 'gear': 'object'})
df1.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear      object
carb       int64
dtype: object

In [14]:
# print(df1['cyl'])
# 행값들의 빈도수 구하기
print(df1['cyl'].value_counts())

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [15]:
df = pd.read_csv("mtcars.csv")
df.head(2)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [16]:
df.shape  # 행 / 열

(32, 12)

In [22]:
print(df['mpg'].mean())
print(df['mpg'].median())

# 최빈값 가져오기 위해서 index [0] 해줘야 함 !! - 0만 되고 다른 건 안됨
print(df['cyl'].mode()[0])

20.090625000000003
19.2
8

In [23]:
print(df['mpg'].var())
print(df['mpg'].std())
print(df['mpg'].quantile(.25))
print(df['mpg'].quantile(.75))

36.32410282258064
6.026948052089104
15.425
22.8

In [24]:
IQR = df['mpg'].quantile(.25) - df['mpg'].quantile(.75)
print(abs(IQR))

7.375

In [37]:
df = pd.read_csv("mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [40]:
from sklearn.preprocessing import MinMaxScaler

mscaler = MinMaxScaler()

df['qsec'] = mscaler.fit_transform(df[['qsec']])

cond = df['qsec'] > 0.5

print(len(df[cond]))

9

In [41]:
import pandas as pd
import numpy as np

df = pd.read_csv("mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [43]:
q1 = df['mpg'].quantile(.25)
print(round(q1))

15

In [44]:
cond1 = df['mpg'] >= 19
cond2 = df['mpg'] <= 21
print(len(df[cond1 & cond2]))

5

In [45]:
hp_q1 = df['hp'].quantile(.25)
hp_q3 = df['hp'].quantile(.75)

print(hp_q3 - hp_q1)

83.5

In [52]:
int(df['wt'].sort_values(ascending=False).head(10).sum())

42

In [56]:
df.sort_values('wt', ascending=False).head(10)['wt'].sum()

42.424

In [63]:
cond1 = df['cyl'] == 6
print(df.shape)
print(round(len(df[cond1]) / len(df),1 ))

(32, 12)
0.2

In [66]:
round(df['mpg'].head(10).mean())

20

In [69]:
half = int(len(df) * 0.5)
df['wt'].head(half).median()

3.44

In [73]:
df = pd.DataFrame( {
    '날짜': ['20230101', '20230101', '20230105', '20230105', '20230110', '20230110', '20230131', '20230131'],
    '물품': ['A', None, 'A', 'B', 'A', None, 'B', 'B'],
    '판매수': [11, 12, 34, 13, None, 16, 16, 17],
    '개당수익': ['900', None, '11000', '1000', '200', None, '100', '1000']
})

isnull = df.isnull().sum()
# 데이터의 수를 출력하는 거니까 sum()을 한 번 더해줘야 함
print(isnull.sum())

5

In [78]:
df_median = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(df_median)
round(df['판매수'].mean())

17

In [100]:
df = pd.DataFrame( {
    '날짜': ['20230101', '20230101', '20230105', '20230105', '20230110', '20230110', '20230131', '20230131'],
    '물품': ['A', None, 'A', 'B', 'A', None, 'B', 'B'],
    '판매수': [11, 12, 34, 13, None, 16, 16, 17],
    '개당수익': ['900', None, '11000', '1000', '200', None, '100', '1000']
})

df = df['판매수'].dropna()
int(len(df) * 0.5)
round(df.head(int(len(df) * 0.5)).quantile(.25))

12

In [108]:
import pandas as pd
import numpy as np

df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [112]:
cyl_4 = df[df['cyl'] == 4]['mpg'].mean()
cyl_6 = df[df['cyl'] == 6]['mpg'].mean()
print(round(abs(cyl_4 - cyl_6)))

7

In [129]:
# zscore : 데이터표준화
# 개별값 - mean() / std

df['hp'] = df['hp'] - df['hp'].mean() / df['hp'].std()
cond1 = df['hp'] > 1.5
cond2 = df['hp'] < -1.5
print(len(df[ cond1 | cond2]))

2

In [133]:
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("mtcars.csv")
xscaler = MinMaxScaler()

df['mpg'] = xscaler.fit_transform(df[['mpg']])
print(len(df[df['mpg'] > 0.7]))

5

In [141]:
df = pd.read_csv("mtcars.csv")

min = df['mpg'].min()
max = df['mpg'].max()

df['mpg'] = (df['mpg'] - min) / (max - min)
print(len(df[df['mpg'] > 0.7]))

5

In [156]:
df = pd.read_csv("mtcars.csv")

q1 = df['wt'].quantile(.25)
q3 = df['wt'].quantile(.75)

iqr = q3 - q1

upper = q3 + 1.5 * iqr
lower = q1 - 1.5 * iqr

len(df [ (df['wt'] > upper ) | (df['wt'] < lower ) ])

3

In [161]:
# 문제 15번
# 데이터 생성 (수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

na_mean = df['판매수'].mean()

min = df['판매수'].min()
df['판매수'] = df['판매수'].fillna(min)
min_mean = df['판매수'].mean()

print(round(na_mean - min_mean))

2

In [168]:
import pandas as pd

df = pd.read_csv('mtcars.csv')
df [ df['vs'] != 0].sort_values('mpg', ascending=False).head(1)['hp']

19    65
Name: hp, dtype: int64

In [171]:
df = pd.read_csv('mtcars.csv')

df = df[df['vs'] != 0]
df[df['mpg'].max() == df['mpg']]['hp']

19    65
Name: hp, dtype: int64

In [177]:
df = pd.read_csv('mtcars.csv')

cond1 = df['gear'] == 3
cond2 = df['gear'] == 4

cond1_std = df[cond1]['hp'].std()
cond2_std = df[cond2]['hp'].std()

print(round(abs(cond1_std - cond2_std), 1))

21.8

In [211]:
df = pd.read_csv('mtcars.csv')
df = df.loc[:, ['mpg', 'gear']]
cond1 = df['gear']  == 4
df[cond1]['mpg'].quantile(.75)

28.075

In [237]:
import pandas as pd
import numpy as np
df = pd.read_csv('mtcars.csv')
df.sort_values('hp', ascending=False).head(7)  # 205

df['hp'] = np.where(df['hp'] > 205, 205, df['hp'])
df[df['hp'] <= 150]['hp'].mean()

99.47368421052632

In [251]:
df = pd.read_csv('mtcars.csv')
round(df[df['model'].str.contains("Merc")]['mpg'].mean())

19

In [269]:
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

df['매출액'] = df['판매수'] * df['개당수익']

df['날짜'] = pd.to_datetime(df['날짜'])
df = df[df['날짜'].between('2022-01-01', '2022-04-01')]
df[df['제품'] == 'A']['매출액'].sum()

4900

In [279]:
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )

df['매출액'] = df['판매수'] * df['개당수익']
df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year
sum_2022 = df[df['year'] == 2022]['매출액'].sum()
sum_2023 = df[df['year'] == 2023]['매출액'].sum()

print(sum_2023 - sum_2022)

48600

In [316]:
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )
df['매출액'] = df['판매수'] * df['개당수익']
df['날짜'] = pd.to_datetime(df['날짜'])
df['year'] = df['날짜'].dt.year
df = df[df['year'] == 2023]

a_sum = df[df['제품'] == 'A']['매출액'].sum()
b_sum = df[df['제품'] == 'B']['매출액'].sum()
print(df[df['제품'] == 'A']['판매수'].sum())

80

In [321]:
df = pd.DataFrame(
     {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
     }
 )
df['매출액'] = df['판매수'] * df['개당수익']
df['날짜'] = pd.to_datetime(df['날짜'])

cond1 = df['매출액'] > 4000
cond2 = df['매출액'] < 10000

print(len(df[cond1 & cond2]))

4

In [328]:
# 문제 25 - 23년 9월 24일 16:00 ~ 22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df.dtypes

물품              object
판매수              int64
개당수익             int64
time    datetime64[ns]
dtype: object

In [333]:
df = df.set_index('time', drop=False)
df = df[df['time'].dt.day == 24]
df = df.between_time('16:00:00' , '23:59:59')
df['판매수'].sum()

25

In [335]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [341]:
df['매출액'] = df['판매수'] * df['개당수익']

df = df.set_index('time', drop=False)
df = df.loc[(df.index > '2023-09-25 00:00:00') & (df.index < '2023-09-25 12:00:00')]
df[df['물품'] == 'B']['매출액'].sum()

26500

In [367]:
# 문제 27 - 9월 24일 12:00 ~ 24:00 까지의 A 물품들의 매출액 총합을 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df = df.set_index('time', drop=False)

In [369]:

df['매출액'] = df['판매수'] * df['개당수익']
df['day'] = df['time'].dt.day

df = df[df['day'] == 24]
df = df.between_time(start_time ='12:00', end_time = '23:59')
df[df['물품'] == 'A']['매출액'].sum()

10000