In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [5]:
cond1 = (df['20L가격'] != 0)
cond2 = (df['5L가격'] != 0)

df = df[cond1 & cond2]

df['차이가격'] = df['20L가격'] - df['5L가격']

df.groupby('시도명')['차이가격'].mean().max()

619.0

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [17]:
df['BMI'] = df['weight(kg)'] / ((df['height(cm)'] * df['height(cm)']) / 10000)
df

              ID  height(cm)  weight(kg)        BMI
0         user_1       173.0        67.5  22.553376
1         user_2       149.5        82.5  36.912339
2         user_3       143.8        64.6  31.240268
3         user_4       163.1        87.2  32.779971
4         user_5       159.6        77.1  30.268340
...          ...         ...         ...        ...
9995   user_9996       144.0        74.4  35.879630
9996   user_9997       161.1        84.1  32.404469
9997   user_9998       137.1        68.9  36.655936
9998   user_9999       187.5        89.2  25.372444
9999  user_10000       172.3        77.5  26.105448

[10000 rows x 4 columns]

In [18]:
df['BMI'] = df['weight(kg)'] / ((df['height(cm)'] * df['height(cm)']) / 10000)

# 고도비만
cond1 = df['BMI'] > 25
max = len(df[cond1])

cond2 = df['BMI'] < 18.5
min = len(df[cond2])

print(min + max)

8998

In [19]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [42]:
x = df['초등학교_전입_도내'] + df['초등학교_전입_도외'] + df['중학교_전입_도내'] + df['중학교_전입_도외'] + df['고등학교_전입_도내'] + df['고등학교_전입_도외']

y =  df['초등학교_전출_도내'] + df['초등학교_전출_도외'] + df['중학교_전출_도내'] + df['중학교_전출_도외'] + df['고등학교_전출_도내'] + df['고등학교_전출_도외']

df['순유입인원'] = (x - y)
df.groupby(['년도', '지역'])['순유입인원'].sum().sort_values(ascending=False)

#  / /  / / 2016 / /  /  / 강남구
#  강동구

print(2225+1821+1762+1498+1395+1339+1158+949+932+774)

13853

In [37]:
df['년도'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [53]:
x = df['초등학교_전입_도내'] + df['초등학교_전입_도외'] + df['중학교_전입_도내'] + df['중학교_전입_도외'] + df['고등학교_전입_도내'] + df['고등학교_전입_도외']

y =  df['초등학교_전출_도내'] + df['초등학교_전출_도외'] + df['중학교_전출_도내'] + df['중학교_전출_도외'] + df['고등학교_전출_도내'] + df['고등학교_전출_도외']

df['순유입인원'] = (x - y)
df.groupby('년도')['순유입인원'].max().sum()

13853

In [90]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

# display(train.head(2))
# x_test.head(2)

x_train = train.drop(columns=['price', 'ID'], axis=1)
y_train = train['price']
id = x_test['ID'].copy()
x_test = x_test.drop(columns=['ID'], axis=1)

# print(x_train.shape)
# print(x_test.shape)
# print(y_train.shape)

# object = model, transmission,  fuelType,
# print(x_train.info())
# print(x_test.info())
# print(y_train.info())

# print(x_train.describe())
# print(x_test.describe())
# print(y_train.describe())

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

# print(x_train.shape)
# print(x_test.shape)

from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=2023)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=2023)
model.fit(x_train, y_train)

y_pred = model.predict(x_val)

from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
# print(r2_score(y_val, y_pred))
# print(mean_squared_error(y_val, y_pred))
# print(np.sqrt(mean_squared_error(y_val, y_pred)))

y_result = model.predict(x_test)

pd.DataFrame({'ID': id, 'price': y_result}).to_csv('1111.csv', index=False)

         ID         price
0         0   4216.900000
1         2  64012.200000
2        14  17169.340000
3        15  14560.460000
4        18  16151.320000
...     ...           ...
3291  13096  27483.710000
3292  13098  23880.990000
3293  13101  23965.590000
3294  13109  16628.250000
3295  13112  29226.380833

[3296 rows x 2 columns]

In [91]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [92]:
import scipy.stats as stats
statistic, pvalue = stats.ttest_

169.93727272727273

In [100]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()
a = df[ df['ID'] == 'A']['value']
b = df[ df['ID'] == 'B']['value']
c = df[ df['ID'] == 'C']['value']
print(a)

0    84.179434
1    93.971003
2    62.140957
3    72.911723
4    79.252747
5    72.249832
6    78.502021
7    98.617290
8    65.744707
9    76.236433
Name: value, dtype: float64

In [102]:
import scipy.stats as stats
statistic, pvalue = stats.kruskal(a, b, c)
print(np.round(statistic, 3))
print(round(pvalue, 3))

6.521
0.038

In [103]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [107]:
df['소요시각'] = (
                pd.to_datetime(
                    df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6)
                )

                -

                pd.to_datetime(
                    df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6)
                )
                ).dt.total_seconds()

df

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시간,소요시각
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,242,162.0
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,227,147.0
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,400,240.0
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집,-235069,571.0
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집,222,142.0
...,...,...,...,...,...,...,...,...,...,...,...
2757,20211109507M05492,성북소방서,복통,20211102,34700,20211102,34800,직장인,집,100,60.0
2758,20211117104M01900,강서소방서,고열,20210414,190900,20210414,191200,무직,의료관련시설,300,180.0
2759,20211111106M01431,노원소방서,호흡곤란,20210524,235900,20210525,130,무직,집,-235770,150.0
2760,20211107102M01938,동대문소방서,요통,20210715,152000,20210715,152244,직장인,집,244,164.0
2761,20211110509M01584,도봉소방서,의식장애,20210401,223400,20210401,223800,무직,집,400,240.0

In [108]:
pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))

0      2021-03-30 10:50:42
1      2021-04-12 22:58:27
2      2021-03-03 19:45:00
3      2021-12-26 00:03:31
4      2021-10-19 01:23:22
               ...
2757   2021-11-02 03:48:00
2758   2021-04-14 19:12:00
2759   2021-05-25 00:01:30
2760   2021-07-15 15:22:44
2761   2021-04-01 22:38:00
Length: 2762, dtype: datetime64[ns]

In [111]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df

                  학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0     서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1              가락고등학교  서울  일반고등학교         765        70
2              개포고등학교  서울  일반고등학교         684        69
3              경기고등학교  서울  일반고등학교        1047        96
4              경동고등학교  서울  일반고등학교         529        58
...               ...  ..     ...         ...       ...
4955            위미중학교  제주   일반중학교          96        15
4956            중문중학교  제주   일반중학교         459        42
4957            표선중학교  제주   일반중학교         375        35
4958            효돈중학교  제주   일반중학교         137        18
4959            남주중학교  제주   일반중학교         351        24

[4960 rows x 5 columns]

In [128]:
cond = df['학교세부유형'] == '일반중학교'

df = df[cond]

df['시도'].value_counts()
df = df[df['시도'] == '서울']
df['맡은수'] = df['일반학급_학생수_계'] / df['교원수_총계_계']
df.sort_values('맡은수', ascending=False)

                학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계        맡은수
524  단국대학교사범대학부속중학교  서울  일반중학교         606        33  18.363636
444           한영중학교  서울  일반중학교         742        43  17.255814
532         진선여자중학교  서울  일반중학교         997        58  17.189655
441           배재중학교  서울  일반중학교         868        51  17.019608
526           휘문중학교  서울  일반중학교         814        48  16.958333
..              ...  ..    ...         ...       ...        ...
438           동북중학교  서울  일반중학교         233        43   5.418605
256         정화여자중학교  서울  일반중학교         125        24   5.208333
453           경서중학교  서울  일반중학교         112        26   4.307692
386         금호여자중학교  서울  일반중학교          86        21   4.095238
494           개포중학교  서울  일반중학교           0         0        NaN

[387 rows x 6 columns]

In [160]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df

         범죄분류     절도     사기   배임   방화     폭행
0    2018년_1월  13280  25318  656  143  12186
1    2018년_2월  12504  19159  403  135  12087
2    2018년_3월  14733  24509  471  148  13841
3    2018년_4월  14781  23147  414  135  13973
4    2018년_5월  15988  23584  451  127  14117
5    2018년_6월  15744  23001  453  110  14362
6    2018년_7월  16140  24990  632   98  14339
7    2018년_8월  16327  24463  434  102  14824
8    2018년_9월  16091  22073  486  130  15256
9   2018년_10월  15122  21769  531  107  13286
10  2018년_11월  13568  23829  398  118  12386
11  2018년_12월  13180  22724  459  125  13843
12   2019년_1월  14492  27620  678  129  12043
13   2019년_2월  13303  21671  360  107  10893
14   2019년_3월  15910  28432  524  114  13136
15   2019년_4월  15305  27125  478  138  13322
16   2019년_5월  17333  27766  509  131  14572
17   2019년_6월  16937  25822  491  101  15285
18   2019년_7월  16777  26644  562  111  15180
19   2019년_8월  17128  26896  432  104  14876
20   2019년_9월  16487  24459  497  106  14745
21  2019년_10월  16487  26421  528  114  13904
22  2019년_11월  14420  26138  468   91  11864
23  2019년_12월  13050  24599  469   99  12095

In [180]:
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']

df['After'] = pd.to_datetime(df['범죄분류'], format='%Y년_%m월')
df['year'] = df['After'].dt.year
df['Month'] = df['After'].dt.month

df['분기'] = df['Month'].map({
    1: '1분기',
    2: '1분기',
    3: '1분기',
    4: '2분기',
    5: '2분기',
    6: '2분기',
    7: '3분기',
    8: '3분기',
    9: '3분기',
    10: '4분기',
    11: '4분기',
    12: '4분기',
})

# 2019 2분기
df.groupby(['분기', 'year'])['총범죄수'].sum()

df[df['분기'] == '2분기']

,범죄분류,절도,사기,배임,방화,폭행,총범죄수,After,year,Month,분기
3,2018년_4월,14781,23147,414,135,13973,52450,2018-04-01,2018,4,2분기
4,2018년_5월,15988,23584,451,127,14117,54267,2018-05-01,2018,5,2분기
5,2018년_6월,15744,23001,453,110,14362,53670,2018-06-01,2018,6,2분기
15,2019년_4월,15305,27125,478,138,13322,56368,2019-04-01,2019,4,2분기
16,2019년_5월,17333,27766,509,131,14572,60311,2019-05-01,2019,5,2분기
17,2019년_6월,16937,25822,491,101,15285,58636,2019-06-01,2019,6,2분기

In [151]:
total_male = 600
total_female = 550

male_ratio = 0.2
female_ratio = 0.26

smoking_male = 600 * 0.2
non_smoking_male = 600 * 0.8

smoking_female = 550 * 0.26
non_smoking_female = 550 * 0.74

data = np.array([[smoking_male, non_smoking_male], [smoking_female, non_smoking_female]])

print(data)

[[120. 480.]
 [143. 407.]]

In [181]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [188]:
x = df[['age', 'Cholesterol']]
y = df['weight']

import statsmodels.api as sm

x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
model.params['age']
model.pvalues['Cholesterol']

pred = model.predict([1, 55, 72.6])
print(pred)

[78.85771011]

In [189]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# Generate sample data
np.random.seed(0)
n = 100  # Number of observations
X1 = np.random.rand(n)  # Independent variable 1
X2 = np.random.rand(n)  # Independent variable 2
X3 = np.random.rand(n)  # Independent variable 3
epsilon = np.random.randn(n)  # Error term
y = 2 * X1 + 3 * X2 + 4 * X3 + epsilon  # Dependent variable

# Create a DataFrame from the data
data = pd.DataFrame({'X1': X1, 'X2': X2, 'X3': X3, 'y': y})

In [190]:
# Add constant term to the independent variable
X = sm.add_constant(data[['X1', 'X2', 'X3']])

# Fit the regression model
model = sm.OLS(data['y'], X)
results = model.fit()

# Print the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     77.28
Date:                Sat, 02 Dec 2023   Prob (F-statistic):           1.66e-25
Time:                        01:26:47   Log-Likelihood:                -132.97
No. Observations:                 100   AIC:                             273.9
Df Residuals:                      96   BIC:                             284.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2266      0.322      0.705      0.483      -0.412       0.865
X1             1.4362      0.325      4.421      0.000       0.791       2.081
X2             2.5860      0.341      7.587      0.000       1.909       3.263
X3             4.2479      0.312     13.608      0.000       3.628       4.868
==============================================================================
Omnibus:                        0.024   Durbin-Watson:                   2.404
Prob(Omnibus):                  0.988   Jarque-Bera (JB):                0.118
Skew:                           0.034   Prob(JB):                        0.943
Kurtosis:                       2.846   Cond. No.                         6.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [194]:
new_data = pd.DataFrame({'X1': [0.5], 'X2':[0.9], 'X3':[0.7], 'const':1})
results.predict(new_data)

ci = results.get_prediction(new_data)

lower_bound = ci.conf_int()[0][0]
upper_bound = ci.conf_int()[0][0]
print(f"Confidence Interval (95%): [{lower_bound}, {upper_bound}]")

Confidence Interval (95%): [6.714092055005857, 6.714092055005857]